<div class="content-home">
    <div ibmGrid class="bx--grid--full-width landing-page" *ngIf="ibmidservice.LoggedIn; else Loading">
        <div ibmRow class="landing-page__banner">
            <div ibmCol [columnNumbers]="{'lg': 12, 'md' : 5}">
                <h1 class="landing-page__heading">
                    Cooperativa de Empleados IBM Perú
                </h1>
            </div>
            <div ibmCol [columnNumbers]="{'lg': 4, 'md' : 3}">
                <h1 class="coope__subheading2">
                    {{ibmidservice.EmailEmpleado}}
                </h1>
                <h2 class="coope__subheading2">
                    {{ibmidservice.CodEmpleado}}
                </h2>
            </div>
    
        </div>
        <div ibmRow class="landing-page__r2">
            <div ibmCol class="bx--no-gutter">
                         <div ibmGrid class="bx--grid--no-gutter bx--grid--full-width">
                            <div ibmRow class="landing-page__tab-content">
                                <div ibmCol [columnNumbers]="{'md': 4, 'lg': 7}">
                                    <h2 class="landing-page__subheading">
                                       Directiva    
                                    </h2>
                                    <p Class= "landing-page__p texto-justificado">
                                        En toda cooperativa deben realizarse elecciones anuales para la 
                                        renovación por tercios de los consejos y comités, pues no se eligen
                                         a todos los integrantes de dichos consejos y comités, sino únicamente 
                                         a un número de directivos necesario que permita cubrir el tercio a ser renovado,
                                         pudiendo ser elegidos por tres, dos o un año.
                                    </p>
                                    <p class="landing-page__p texto-justificado">
                                        Los Directivos de la Cooperativa de Ahorro y Crédito de los Empleados de IBM fueron elegidos 
                                        en Asamblea General Ordinaria llevada a cabo el 24 de marzo de 2022. 
                                    </p>

                                    <p class="landing-page__p texto-justificado">
                                        Conoce más acerca de nuestra directiva en el siguiente enlace:
                                        <a href="https://ibm.ent.box.com/s/ynyvcprfjpbfrlk1y87zq7uqjmutgwcg" 
                                        target="_blank">Directiva</a>
                                    </p>
                                   
                                </div>
                                <div ibmCol class="bx--offset-lg-1" [columnNumbers]="{'md': 4, 'lg': 8}">
                                    <img
                                    class="landing-page__illo"
                                    src="../../../assets/directiva.jpg"
                                    alt="directiva"
                                    />
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
    
    <ng-template #Loading>
            <div class="loading">
                    <ibm-loading [isActive]="isActive" [size]="size"></ibm-loading>
            </div>
    </ng-template>
    
    </div>