<ibm-sidenav *ngIf="ibmidservice.LoggedIn" [hidden]="hidesidemenu" [expanded]="sideactive">
    
    <ibm-sidenav-menu title="Quienes Somos">
        <ibm-sidenav-item title ="Historia" [route]="['nosotros/historia']">Historia</ibm-sidenav-item>
        <ibm-sidenav-item  title ="Funcionarios" [route]="['nosotros/funcionarios']">Funcionarios</ibm-sidenav-item>
        <ibm-sidenav-item title="Directiva"><a href="https://ibm.ent.box.com/s/ynyvcprfjpbfrlk1y87zq7uqjmutgwcg" 
            target="_blank">Directiva</a></ibm-sidenav-item>
        <ibm-sidenav-item title="Estados Financieros"><a href="https://ibm.ent.box.com/s/94azbnixqtj3ha83whhz96v8uuvvds93" 
            target="_blank">Estados Financieros</a></ibm-sidenav-item>
        <ibm-sidenav-item title="Memorias"><a href="https://ibm.ent.box.com/s/wgzn8nmom9vxc4d629i1sy89cmidyjc1" 
            target="_blank">Memorias</a></ibm-sidenav-item>
        <ibm-sidenav-item title="Estatuto"><a href="https://ibm.ent.box.com/s/4zsrdi5s4pczfydgikexdeqwck63uhqf" 
            target="_blank">Estatuto</a></ibm-sidenav-item>
       <ibm-sidenav-item title="Reglamentos"> <a href="https://ibm.ent.box.com/s/zld4aadlg9xeioxy1a9l14t83vy24daf" 
            target="_blank">Reglamentos</a></ibm-sidenav-item>
    </ibm-sidenav-menu> 

    <ibm-sidenav-menu title="Mis cuentas">
        <ibm-sidenav-item [route]="['socios/ahorros']">Ahorros</ibm-sidenav-item>
        <ibm-sidenav-item [route]="['socios/certificados']">Certificados</ibm-sidenav-item>
        <ibm-sidenav-item [route]="['socios/prestamos']">Préstamos</ibm-sidenav-item>
        <ibm-sidenav-item [route]="['socios/garantizados']">Garantías</ibm-sidenav-item>
        <ibm-sidenav-item [route]="['socios/automovil']">Automóvil</ibm-sidenav-item>
    </ibm-sidenav-menu>

    <ibm-sidenav-menu *ngIf="ibmidservice.IsAdmin" title="Administración">
        <ibm-sidenav-item [route]="['administracion/listasocios']">Lista de Socios</ibm-sidenav-item>
    </ibm-sidenav-menu> 
    
    <ibm-sidenav-menu title="Prestamos">
        <ibm-sidenav-item [route]="['prestamos/tasasinteres']">Tasas de Interés</ibm-sidenav-item>
        <ibm-sidenav-item [route]="['prestamos/simulador']">Simulador</ibm-sidenav-item>
        <ibm-sidenav-item [route]="['prestamos/solofirma']">Solo Firma</ibm-sidenav-item>
        <ibm-sidenav-item [route]="['prestamos/consumo']">Consumo</ibm-sidenav-item>
        <ibm-sidenav-item [route]="['prestamos/largoplazo']">Largo Plazo</ibm-sidenav-item>
        <ibm-sidenav-item [route]="['prestamos/hipotecario']">Hipotecario</ibm-sidenav-item>
        <ibm-sidenav-item [route]="['prestamos/garantiahipotecaria']">Garantía Hipotecaria</ibm-sidenav-item>
        <ibm-sidenav-item [route]="['prestamos/automotriz']">Automotriz</ibm-sidenav-item>
        <ibm-sidenav-item [route]="['prestamos/academico']">Académico</ibm-sidenav-item>
        <ibm-sidenav-item [route]="['prestamos/escolar']">Escolar</ibm-sidenav-item>
    </ibm-sidenav-menu> 
     <!--<ibm-sidenav-menu title="Herramientas">
        <ibm-sidenav-item [route]="['herramientas/calcpagos']">Calculadora de Pagos</ibm-sidenav-item>
        <ibm-sidenav-item [route]="['herramientas/calccertificados']">Calculadora de Certificados</ibm-sidenav-item>
        <ibm-sidenav-item [route]="['herramientas/reglamentocredito']">Reglamento de Crédito</ibm-sidenav-item>
        <ibm-sidenav-item [route]="['herramientas/tasasinteres']">Tasas de interes</ibm-sidenav-item>
    </ibm-sidenav-menu>  -->       
   <ibm-sidenav-menu title="Servicios">
    <ibm-sidenav-item [route]="['servicios/fondosepelio']">Fondo de Sepelio</ibm-sidenav-item>
    <ibm-sidenav-item [route]="['servicios/seguroautos']">Seguro Autos</ibm-sidenav-item>
    <ibm-sidenav-item [route]="['servicios/telefoniacelular']">Telefonía Celular</ibm-sidenav-item>
    <ibm-sidenav-item [route]="['servicios/oncosalud']">Oncosalud</ibm-sidenav-item>
     <!--  <ibm-sidenav-item [route]="['servicios/previsionsocial']">Previsión Social</ibm-sidenav-item>
        <ibm-sidenav-item [route]="['servicios/asesorialegal']">Asesoría Legal</ibm-sidenav-item>
        <ibm-sidenav-item [route]="['servicios/consumo']">Consumo</ibm-sidenav-item>  -->
        
    </ibm-sidenav-menu> 
    <ibm-sidenav-menu title="Proveedores">
        <ibm-sidenav-item title="Tecnología Para el Hogar"><a href="https://ibm.ent.box.com/s/ipz35b7ftpayqhk0mn57186fesh9a3m9" 
            target="_blank">Tecnología Para el Hogar</a></ibm-sidenav-item>
        <ibm-sidenav-item title="Productos Para el Hogar"><a href="https://ibm.ent.box.com/s/t4hno5p0lcpshclol1p28vtvmr4vkeha" 
            target="_blank">Productos Para el Hogar</a></ibm-sidenav-item>
        <ibm-sidenav-item title="Pastelerías y Lácteos"><a href="https://ibm.ent.box.com/s/lzo8dzkbk7vusvqxqr7gq6gww5baexdc" 
            target="_blank">Pastelerías y Lácteos</a></ibm-sidenav-item>
        <ibm-sidenav-item title="Vinos y Licores"><a href="https://ibm.ent.box.com/s/8hsw5a1pj5rvm9cmv71tvhtwefhwg4rt" 
            target="_blank">Vinos y Licores</a></ibm-sidenav-item>
        <ibm-sidenav-item title="Mascotas"><a href="https://ibm.ent.box.com/s/mz9pu2wmzpuhcjtjo2906b9yp463e85j" 
            target="_blank">Mascotas</a></ibm-sidenav-item>
        <ibm-sidenav-item title="Menaje Decoración"><a href="https://ibm.ent.box.com/s/jgouihcbrwl99cb9bqa6jbfmhhlnf5vh" 
            target="_blank">Menaje Decoración</a></ibm-sidenav-item>
        <ibm-sidenav-item title="Belleza"><a href="https://ibm.ent.box.com/s/6uc11kp0p4029lm91ltlsf1bko9h90b7" 
            target="_blank">Belleza</a></ibm-sidenav-item>
        <ibm-sidenav-item title="Viajes y Hoteles"><a href="https://ibm.ent.box.com/s/xdov1sbb2y9ajmetsolidgm929zevzcg" 
            target="_blank">Viajes y Hoteles</a></ibm-sidenav-item>
        <ibm-sidenav-item title="Gimnasios"><a href="https://ibm.ent.box.com/s/913uy4er5chv4qhagkhko3ouivcue81e" 
            target="_blank">Gimnasios</a></ibm-sidenav-item>
        <ibm-sidenav-item title="Restaurantes"><a href="https://ibm.ent.box.com/s/nc4z7gtj5uulowhihla4gu2ot0vjksdu" 
            target="_blank">Restaurantes</a></ibm-sidenav-item>
        <ibm-sidenav-item title="Automotriz"><a href="https://ibm.ent.box.com/s/xoddqmiweshidvostf20b97tepvid4ij" 
            target="_blank">Automotriz</a></ibm-sidenav-item>
       <!--  <ibm-sidenav-item [route]="['avisos/proveedores']">Proveedores</ibm-sidenav-item>
         <ibm-sidenav-item [route]="['avisos/internos']">Internos</ibm-sidenav-item>
        <ibm-sidenav-item [route]="['avisos/noticias']">Noticias</ibm-sidenav-item>  -->
    </ibm-sidenav-menu> 
   
    

</ibm-sidenav>
