export const cloudantconfig = {
    name: 'cloudantcoope',
    connector: 'cloudant',
    database: <CLOUDANT.DB>,
    modelIndex: <CLOUDANT.MODEL>,
    password: <CLOUDANT.PASSWORD>,
    url: <CLOUDANT.URL>,
    username: <CLOUDANT.USERNAME>
};

export const db2config = {
	name: 'db2coope',
  	connector: 'db2',
	database: <DB2DB.DB>,
	host: <DB2DB.HOST>,
	password: <DB2DB.PASSWORD>,
	port: <DB2DB.PORT>,
	dsn: <DB2DB.SSLDSN>,
	user: <DB2DB.USERNAME>,
	schema: <DB2DB.USERNAME>
};
